//- NB: if you get the error : "You should not have jade tags with multiple attributes."
//-	make sure the mixin name is spelled correctly and capitalized correctly.

//- All Bloom templates should use this mixin, so that when the format version
//- changes we can change the version number in one place
mixin bloom-standard-metadata()
	meta(charset='UTF-8')
	meta(name='Generator', content='Bloom')
	meta(name='BloomFormatVersion', content='0.5')

mixin cssLink(href)
	link(rel='stylesheet', href=href+'.css', type='text/css')

mixin styleSheets(templateSpecificCSS)
	+cssLink('basePage')
	+cssLink('languageDisplay')
	+cssLink('editMode')
	+cssLink(templateSpecificCSS)
	+cssLink('file://..\customCollectionStyles')

//- Uncomment to test above mixin
	h1 Test styleSheets mixin
		+styleSheets('mine')

mixin bloom-title(langAbbrev, title)
	div(data-book='bookTitle', lang=langAbbrev)=title

//- Extra template page (numbered)
mixin bloom-template-page(idGuid, title)
	.bloom-page.numberedPage(class=attributes.class, title=attributes.title, data-page='extra', id=idGuid)
		.pageLabel(lang='en')=title
		.marginBox
			block

//- Extra combined template page
mixin bloom-template-combined(idGuid, title)
	+bloom-template-page(idGuid, title)(class='bloom-combinedPage')(class=attributes.class, title=attributes.title)
		block

//- Gives an A5Portrait page
mixin pageChoice
	.bloom-page.bloom-combinedPage.A5Portrait.bloom-monolingual(data-page='extra', class=attributes.class)
		block

//- Gives a basic Bloom translationGroup
mixin bloom-translation-group
	.bloom-translationGroup(class=attributes.class)
		.bloom-editable
			block

mixin shellField(placeholder)
	.bloom-translationGroup(class=attributes.class, data-placeholder=placeholder)
		.bloom-content1.bloom-editable(data-placeholder=placeholder, contenteditable="true")


mixin monoField(language, dataBookName, placeholder)
	div.bloom-editable(class=attributes.class, placeholder=placeholder, lang=language, contenteditable="true")

//- These are useful for front-back matter that will never be translated.
//- When used in frontMatter, the dataBookName is mandatory.
//- Language is always mandatory, but you can use '*' to mean "Don't worry what language it is"
mixin monoMetaField(language, dataBookName, placeholder)
	div.bloom-editable(class=attributes.class, data-book=dataBookName, placeholder=placeholder, lang=language, contenteditable="true")

//- Will show a placeholder and allow the user to change the image
mixin shellImage
	.bloom-imageContainer(class=attributes.class)
		img(src="placeHolder.png", width=attributes.initialImageWidth, alt='Could not load the image')
		block

//- Will show a table. Bloom's basePage.css should style it with a border around each cell
mixin shellGrid(rows, columns)
	table.bloomGrid(class=attributes.class)
		- for (var r = 0; r < rows; r++)
			tr
				- for(var c = 0; c < columns; c++)
					td
						+shellField

mixin repeat(count)
	- for (var i=0;i<count;i++)
		block

mixin numberedList(count)
	ol(class=attributes.class)
		- for (var i=0;i<count;i++)
			li
				block
