mixin buttonGroup(buttonId, initialStatusClass, counterClass, wrapperClasses, buttonLabel, i18nId)
	div.button-label-wrapper(id='audio-'+buttonId + '-wrapper' class=wrapperClasses)
		.button-wrapper
			button(id='audio-'+buttonId class='ui-audio-button ui-button ' + initialStatusClass)
		div.audio-label(id='audio-'+buttonId+'-label' class=counterClass data-i18n='EditTab.Toolbox.TalkingBookTool.'+i18nId)=buttonLabel

mixin checkboxWithHiddenClickHandler(buttonId, i18nKey, englishLabel, isChecked, additionalStyles)
	// The click handler can be used to handle events on the checkbox even while the checkbox is disabled (which would suppress events on the checkbox itself)
	div(id='audio-' + buttonId + '-wrapper', style='display:inline-block; position:relative;' + additionalStyles)
		table
			tr
				td(style='vertical-align: top')
					input(id='audio-'+buttonId type='checkbox', name=buttonId, value=theValue, checked=isChecked)
				td
					div(id='audio-' + buttonId + '-clickHandler', style='position:absolute; left:0; right:0; top:0; bottom:0;')
					label(data-i18n=i18nKey)
						=englishLabel

html
	head

	body
		h3(data-toolId='talkingBookTool', data-order='30', data-i18n='EditTab.Toolbox.TalkingBookTool') Talking Book Tool
		div(data-toolId='talkingBookTool')
			div.hiddenOverlay(id='disablingOverlay')
			div.ui-audioBody
				div.ui-audioJqueryStuff
					div
						// preload=none prevents the audio element from asking for the audio as soon as it gets a new src value,
						// which in BL-3153 was faster than the c# thread writing the file could finish with it.
						// As an alternative, a settimeout() in the javascript also worked, button
						// this seems more durable. By the time the user can click Play, we'll be done.
						audio(id='player', preload='none')

					div.audio-label.talking-book-counter(id='audio-check' data-i18n='EditTab.Toolbox.TalkingBookTool.CheckSettingsLabel') Check that you are recording into the correct device and that these levels are showing blue:
					div.ui-audioInputGroup
						div.ui-audioInput
							img(id='audio-input-dev' src='/bloom/bookEdit/toolbox/talkingBook/microphone.svg' height='15' width='15' alt='mic')
							ul(id='audio-devlist')
						div.ui-audioMeter
							canvas(id='audio-meter' width='80' height='15')
					div.audio-label.talking-book-counter(id='audio-look-at' data-i18n='EditTab.Toolbox.TalkingBookTool.LookAtSentenceLabel') Look at the highlighted text
					+buttonGroup('record', 'expected', 'talking-book-counter', '', 'Speak', 'SpeakLabel')
					+buttonGroup('play', 'disabled', 'talking-book-counter', '', 'Check', 'CheckLabel')
					+buttonGroup('split', 'disabled', 'talking-book-counter', 'initial-state', 'Split', 'SplitLabel')
					+buttonGroup('next', 'disabled', 'talking-book-counter', '', 'Next', 'NextLabel')

					+buttonGroup('prev', 'disabled', '', '', 'Back', 'Back')
					+buttonGroup('clear', 'disabled', '', '', 'Clear', 'Clear')
					+buttonGroup('listen', 'disabled', '', '', 'Listen to the whole page', 'Listen')
				#advanced-talking-book-controls-react-container

				a.help-link(href='/bloom/api/help?topic=Tasks/Edit_tasks/Record_Audio/Talking_Book_Tool_overview.htm', data-i18n='Common.Help') Help
