doctype html

// Tests of overflow feature in Bloom that puts a red background in a field if there's too much content
//- Turns out the thing that made Story Primer always overflow was "overflow: visible" in the css
//- It always seemed to have scrollHeight = clientHeight + 2
//- NB: Could this have been the thin gray border of a focused entry box?
//- As a consequence, the overflow test will be "var overflow = scrollHeight > clientHeight + 2;
mixin testTarget
	.myTest&attributes(attributes)
		block

mixin standardTestField
	+testTarget.bloom-editable.bloom-content1(lang='z', contenteditable='true')&attributes(attributes)
		block

mixin standardTranslationGroup
	.bloom-translationGroup
		.bloom-editable.bloom-content1(lang='z', contenteditable='true')&attributes(attributes)
			block

head
body
	// Test#0
	+standardTestField(name="Default font bloom-editable with no styles doesn't overflow") Test text

	// Test#1
	// This test originally used Andika New Basic font and height:21px. Andika is much higher at a given size than
	// Arial. This may well have been the point of this case. However, build agents were failing because Andika NB
	// was not installed so the test failed. This may be a less useful test case but at least it's consistent.
	-var styles="font-family:Arial;font-size:large;height:15px;";
	+standardTestField(name="Andika bloom-editable with large text and small height should overflow", style=styles).expectToOverflow Test text

	// Test#2
	-var styles="font-size:20pt;height:24px;overflow:visible";
	+standardTestField(name="Default font bloom-editable with large text and small height should overflow", style=styles).expectToOverflow Test text

	// Test#3
	-var styles="font-family:'Andika New Basic', Andika;";
	+standardTestField(name="Andika bloom-editable with no other styles should not overflow", style=styles) Test text

	// Test#4
	-var styles="font-family:'Andika New Basic', Andika;height=50px";
	+standardTestField(name="Andika bloom-editable with fixed height should not overflow", style=styles) Test text

	// Test#5
	-var styles="font-family:'Andika New Basic', Andika;padding: 2px;";
	+standardTestField(name="Andika bloom-editable with only some padding should not overflow", style=styles) Test text